
{% extends "templates/base_generic.html" %}

{% block content %}
<div class="backgroundImage">
    <img src="../static/hero_1.jpg" class='backImage' alt="landingpage">
    <!--search box-->    
        <form action="{% url 'search_results' %}" method="get">
          <div class="form-group searchbox">
            <input
                  class="form-control"
                  name="q"
                  type="search" 
                  style="height: 6vh; border-radius: 10px;" 
                  placeholder="What do you want to learn today?"
            >
          </div>
        </form>
    </div>
</div>

{% endblock %}
