
{% extends "templates/base_generic.html" %}

{% block content %}
  <h2 class="title text-center mt-5">Find Free Courses</h2>

  <div class="container">
      <div>
        <!--search box-->    
          <form action="{% url 'search_course' %}" method="get">
            <div class="form-group mt-2">
              <input
                  class="form-control"
                  id='search_course'
                  name="keywords"
                  type="search" 
                  style="height: 6vh; border-radius: 10px;" 
                  placeholder="What do you want to learn today?"
              >
            </div>
          </form>
        </div>
      </div>

      <!--<row>
          <div class="form-group row ">
              <input style="height: 6vh; border-radius: 10px;" type="search" class="form-control" placeholder="What do you want to learn today?">
          </div>
      </row>
      -->
      
      <row class="text-center" id="info_">
          <div class="col-12 col-sm-4 col-md-8 col-lg-5 mt-5 mx-auto">
              <h2 class="title-italic">What is this?</h2>
              <h5 class="text-justify g-mt-100">FindFreeCourses is a search engine to find free eductional content for every topic a person would need. It searches and indexes many different sites to give the best results tailored to the search. You can search any topic and get the best results back! No excuses; start learning today!</h5>
          </div>
          <div class="col-12 col-sm-8 col-md-8 col-lg-5 mt-5 mx-auto">
              <h2 class="title-italic">Why?</h2>
              <h5 class="text-justify g-mt-50">There are tons of free (and paid) content out on the internet today. Provided by colleges, corporations, teachers, industry experts.. etc. This content is very spread out across multiple websites; there is no search engine. We provide that middleware to all the resources out there. </h5>
          </div>
      </row>

      <row class="text-center" id ="info_">
        <h3>List of Free Courses</h3>
        {% if results %}
          <div id="search_results">
            {% for course in results %}
              <article class="media content-section">
                  <div class="media-body">
                      <h5 class="article-title">{{ course.course_name }}</h5>
                      <div class="article-metadata">
                          <p>{{course.course_desc}}</p>
                          <p>{{course.course_prov}}</p>
                          <p>{{course.course_link_url}}</p>
                          <p>{{course.course_img_url}}</p>
                      </div>            
                  </div>
              </article>
            {% endfor %}
          </div>
        {% endif %}          
      </row>
    </div>
{% endblock %}

{% block javascript %}
  <script>
    $("search_course").keyup(function () {
      var query = $(this).val();
      $.ajax({
        url: 'search_course',
        data: { 'keywords': query },
        dataType: 'json',
        success: function (data) {
          console.log(data);
          // $(#search_results).html(data);
        }
      });
    });
  </script>
{% endblock %}