body{
    background-color: #1d2c3b;
    color: white;
    
}

h2.title{
    font-family: 'Montserrat', sans-serif;
    font-weight: 800;
    font-size: 6vh;
}

h2.title-italic{
    font-family: 'Montserrat', sans-serif;
    margin-top: 5px;
    font-weight: 600;
    font-size: 5vh;
}